{% extends "base.html"%} {% load static %} {% block page_header %}
<div class="container">
  <div class="row">
    <div class="col">

      <h2>Your Basket</h2>
      <hr>
        
    </div>
  </div>
</div>


{% endblock %} {% block content %}
<div class="container pt-3">
  <div class="row">
    <div class="col">

      {% if bag_items %}
      <table class="table table-sm table-borderless">
        <thead>
          <tr>
            <th class="pb-4">Product Information</th>
            <th>&nbsp;</th>
            <th class="pb-4">Price</th>
            <th class="pb-4">Quantity</th>
            <th class="pb-4">Subtotal</th>
            <th>&nbsp;</th>
          </tr>
        </thead>

        {% for item in bag_items %}
          <tr>
            <td>
              {% if product.image %}
                            <img class="bag-img img-fluid" src="{{ product.image.url }}" alt="{{ item.product.name }}">
                        {% else %}
                            <img class="bag-img img-fluid" src="/media/noimage.jpeg" alt="{{ item.product.name }}">
                    {% endif %}
            </td>
            <td class="bag-product-name">
              <p class="m-0 font-weight-bold">{{ item.product.name }}</p> 
              <p class="m-0 font-weight-bold">Size: {% if item.product.has_size %}{{ item.size }}{% else %}N/A{% endif %}</p> 
              <small class="text-muted">SKU: {{ item.product.sku}}</small>
            </td>
            <td class="bag-product-price">
              <p>£{{ item.product.price }}</p>
            </td>
            <td>
              <form class="form update-form" method="POST" action="{% url 'adjust_item' item.item_id %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="decrement-qty" 
                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                <span>
                                    <i class="fas fa-minus"></i>
                                </span>
                            </button>
                        </div>
                        <input class="form-control qty_input" type="number"
                            name="quantity" value="{{ item.quantity }}" min="1" max="5"
                            data-item_id="{{ item.item_id }}"
                            id="id_qty_{{ item.item_id }}">
                        <div class="input-group-append">
                            <button class="increment-qty"
                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                <span>
                                    <i class="fas fa-plus"></i>
                                </span>
                            </button>
                        </div>
                        {% if item.product.has_size %}
                        <input type="hidden" name="product_size" value="{{ item.size }}">
                    {% endif %}
                    </div>
                  </div>
              </form>
              <a class="update-link">Update</a>
              </td>
            <td class="bag-subtotal">
               <p> £{{ item.product.price }}</p> 
            </td>
            <td class="bag-remove">
              <a class="remove-item text-danger" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><i class="fas fa-times-circle"></i></a>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="5" class="text-right">
                <a href="{% url 'products' %}" class="btn btn-secondary">
                  <i class="fas fa-chevron-left pr-1"></i><span>Keep Shopping</span>
                </a>
                <a href="" class="btn btn-secondary">
                    <span>Secure Checkout</span><i class="fas fa-lock pl-1"></i>
                </a>
            </td>
        </tr>
        <tr>
          <td colspan="5" class="pt-5 text-right">
              <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
              <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
              <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
          </td>
      </tr>
      </table>

      {% else%}

      <p>
        Your shopping bag is empty
      </p> 
      <div>
        <a href="{% url 'products' %}" class="btn btn-secondary">
          <i class="fas fa-chevron-left pr-1"></i><span>Keep Shopping</span>
        </a>

      </div>
      

      {%endif%}

    </div>
  </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}