{% extends "base.html"%} {% load static %} {% block page_header %}
<div class="container">
  <div class="row">
    <div class="col">

      <h2>Your Basket</h2>
      <hr>
        
    </div>
  </div>
</div>


{% endblock %} {% block content %}
<div class="container pt-3">
  <div class="row">
    <div class="col">

      {% if bag_items %}
      
      <table class="table table-sm table-borderless">
        <thead>
          <tr>
            <th class="pb-4">Product Information</th>
            <th>&nbsp;</th>
            <th class="pb-4">Price</th>
            <th class="pb-4">Quantity</th>
            <th class="pb-4">Subtotal</th>
            <th>&nbsp;</th>
          </tr>
        </thead>

        {% for item in bag_items %}
          <tr>
            <td>
              {% if product.image %}
                            <img class="bag-img img-fluid" src="{{ product.image.url }}" alt="{{ item.product.name }}">
                        {% else %}
                            <img class="bag-img img-fluid" src="/media/noimage.jpeg" alt="{{ item.product.name }}">
                    {% endif %}
            </td>
            <td class="bag-product-name">
              <p class="m-0 font-weight-bold">{{ item.product.name }}</p> 
              <small class="text-muted">SKU:{{ item.product.sku}}</small>
            </td>
            <td class="bag-product-price">
              <p>£{{ item.product.price }}</p>
            </td>
            <td>
              <div class="bag-quantity">
                <a href=""><i class="fas fa-minus"></i></a>
                <input type="number" class="quantity" value="{{ item.quantity }}"/>
                <a href=""><i class="fas fa-plus"></i></a>
              </div>
              <div class="mt-1">
                <small><a href="">Update</a></small>
              </div>
            </td>
            <td class="bag-subtotal">
               <p> £... </p> 
            </td>
            <td class="bag-remove">
              <a href=""><i class="fas fa-times-circle"></i></a>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="5" class="text-right">
                <a href="{% url 'products' %}" class="btn btn-secondary">
                  <i class="fas fa-chevron-left pr-1"></i><span>Keep Shopping</span>
                </a>
                <a href="" class="btn btn-secondary">
                    <span>Secure Checkout</span><i class="fas fa-lock pl-1"></i>
                </a>
            </td>
        </tr>
      </table>

      {% else%}

      <p>
        Your shopping bag is empty
      </p> 

      {%endif%}

    </div>
  </div>
</div>

{% endblock %}
