{% extends "base.html"%}
{% load static %}
{% block extra_title %} - Home{% endblock %}
{% block content%}

<!----Hero Image --->
<section class="hero-section">
    <div class="container-fluid mt-4">
        <div class="row text-center" >
                <div class="col-md-6 col-12">
                    <img class="intro-img" src="/media/pink-dream-cake.jpg" alt="pink-dream-cake">
                </div>
                <div class="col-md-6 col-12">
                <img class="intro-img" src="/media/white-chocolate-rasberry-cake.jpg" alt="pink-dream-cake">
            </div>
        </div>
    </div>
</section>

<!---Favourite Products--->

<section class="favourite-product-container">
    <div class="container">
        <h3 class="text-center pt-4 pb-4 homepage-header">Customers Favourite Products</h3>
        <div class="row">
            <div class="col-md-3 col-6">
                <img class="favourite-product" src="/media/white-chocolate-rasberry-cake.jpg" alt="">
            </div>
            <div class="col-md-3 col-6">
                <img class="favourite-product" src="/media/biscoff-cake.jpg" alt="">
            </div>
            <div class="col-md-3 col-6">
                <img class="favourite-product" src="/media/chocolate-overload.jpg" alt="">
            </div>
            <div class="col-md-3 col-6">
                <img class="favourite-product"  src="/media/pink-dream-cake.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="occasion-promotion-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 text-center my-auto">
                <h3 class="homepage-header-brown">Shop for any occasion</h3>
                <p class=""> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio facilis et harum. Dolorum molestias repudiandae sit ratione ea, rerum doloremque ducimus ullam magni ipsa error quis hic eius illo maxime!</p>
                <a href="{% url 'products'%}?occasion=birthdays,mother_and_fathers_day,easter,afternoon_tea,christmas" class="btn">Shop All Occasions</a>
            </div>
            <div class="col-12 col-md-6">
                <img src="/media/mothers-day-cupcakes.jpg" class="occasion-img-1 " alt="">
                <img src="/media/love-cupcakes.jpg" class="occasion-img-2" alt="">
                
            </div>
        </div>
    </div>
</section>


{% endblock %}