{% extends "base.html" %} 
{% load static %} 
{% block title %} Checkout | {% endblock %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}

{% block page_header %}

<div class="container pt-4">
  <div class="row">
    <div class="col">
      <h2>Thank You!</h2>
      <hr />
      <p>Your order information is below, you will have also recieved an email confirmation to your {{ order.email }}</p>
    </div>
  </div>
</div>

{% endblock %} {% block content %}
<div class="container pt-3">
  <div class="row">
    <div class="col-12"></div>
  </div>
</div>

{% endblock %}

