h1,h2,h3,h4,h5,h6 {
    font-family: 'Bebas Neue', cursive;
    color: #524444;
}
p, li, small{
    color: #524444;
    font-family: 'Montserrat', sans-serif;
}
a {
    font-family: 'Montserrat', sans-serif;
    color: #F7C1BB;
}
a:hover {
    color: #524444;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}
input, label {
    font-family: 'Montserrat', sans-serif;
}
header, footer {
    background-color: #F7C1BB;
}
.main-content {
    min-height: 900px;
}
.allauth-main-content {
    padding-top: 200px;
}
/* Buttons */
.btn {
    background-color: #F7C1BB;
    border: 0;
    color: #524444;
    font-family: 'Montserrat', sans-serif;
}
.btn:hover {
    background-color: #524444;
    color: white;
    border: 0;
    transition: all 300ms ease-in-out;
}
.btn-search,.btn-allauth {
    background-color: #524444;
    color: white;
}
.btn-allauth:hover {
    background-color: #524444;
}
.btn:focus, .btn:active, .form-control:focus, .form-control:active {
    outline: none !important;
    box-shadow: none;
}
/* Navigation */
#user-options, #bag-link, #mobile-search {
    font-size: 1em;
    color: #524444;
}
.navbar-toggler-icon i {
    color: #524444;
    padding-top: .25rem;
}
.nav-link {
    color: #524444;
    font-weight: bold;
}
.nav-link:hover {
    color: rgb(139, 127, 127);
    transition: all 300ms ease-in-out;
}
.dropdown-menu {
    background-color: #F7C1BB;
}
.dropdown-item {
    padding-top: 5px;
    color: #524444;
}
.dropdown-item:focus {
    background-color: #524444;
}
/* Blog */
.blog-comment {
    word-wrap: break-word;
}
.blogpost-img {
    width: 100%;
    object-fit: cover;
}
.blogdetail-img {
    max-height: 500px;
}
/* Home */
.homepage-product {
    height: 200px;
    width: 200px;
    object-fit: cover;
}
.homepage-product:hover {
    opacity: 0.7;
    transition: all 300ms ease-in-out;
}
.homepage-text {
    background: rgba(255, 255, 255, 0.846);
    margin-top: 170px;
}
.hero-section {
    background-image: url('/media/bake-my-day-hero.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-top: 180px;
}
.intro-img {
    position: relative;
    width: 500px;
    height: 616px;
}
.occasion-promotion-section {
    background-color:#F7C1BB;
}
.occasion-img {
    height: 400px;
}
.occasion-btn {
    background-color: #524444;
    color: white;
}
.occasion-btn:hover {
    background-color: white;
    color: rgb(82, 68, 68);
}
#company-name {
    color: rgb(82, 68, 68);
    font-size: 3rem;
}
#company-logo {
    height: 70px;
}
.header-container {
    padding-top: 220px;
}
.product-header-container {
    padding-top: 200px;
}
.blog-img-home {
    height: 500px;
    width: 800px;
    object-fit: cover;
}
.main-header {
    font-size: 3rem;
    color: white;
}
.main-header:hover {
    text-decoration: none;
}
.search {
    max-width: 300px;
    margin: 0 auto;
}
.table {
    color: #524444;
}
/* Bag */
.bag-img {
    height: 250px;
    width: 200px;
    object-fit: cover;
}
.fa-shopping-basket, .fa-user {
    color: #524444;
    font-size: 1.25rem;
}
.remove-item:hover, .update-link:hover {
    cursor: pointer;
}
.bag-success-message {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
/* Message containers */
.message-container {
    position: fixed;
    top: 50px;
    right: 15px;
    z-index: 99999999999;
}
/* Hides default arrows for number input field for Chrome, Safari, Edge, Opera taken from W3schools */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/* Products */
.product-name {
    color: #524444;
}
.card {
    border: 0;
    min-height: 500px;
}
.card-img-top {
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.card-body {
    padding: .5rem;
}
/* Allauth Styling */
.error-container {
    padding-top: 300px;
}

/* Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}
.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}
.widget-image {
    object-fit: cover;
}
/* Footer Styling */
footer a {
    color: #524444;
}
footer a:hover {
    color: white;
}
@media screen and (max-width: 1120px) {
    .blog-img-home {
        width: 100%;
        height: 300px;
   }
    .header-container {
        padding-top: 100px;
   }
    .error-container {
        padding-top: 250px;
   }
   .hero-section {
        margin-top: 0;
}
    .homepage-product {
        height: 100px;
        width: 100px;
   }
   .account-background {
        padding-top: 125px;
   }
   .nav-link {
    padding-left: 3px;
    padding-right: 3px;
}
    .product-header-container{
    padding-top: 50px;
}
.allauth-main-content {
    padding-top: 100px;
}
.homepage-text {
    background: rgba(255, 255, 255, 0.846);
    margin-top: 250px;
}
}
@media screen and (max-width: 568px) {
    .dropdown-item, .nav-link {
        font-size: 14px;
    }
    .list-inline-item:not(:last-child) {
        margin-right: 0rem;
    }
    .hero-section {
        background-image: url('/media/white-chocolate-rasberry-cake.jpg');
        height: 800px;
    }
}

