h1,h2,h3,h4,h5,h6 {
    font-family: 'Archivo Black', cursive;
    color: rgb(255, 255, 255);
}

.page-headline {
    color: rgb(82, 68, 68);
}

a {
    font-family: "open-sans", sans-serif;
}

.btn {
    background-color: rgb(248, 202, 220);
    border: 0;
    color: white;
}

.btn:hover {
    background-color: rgb(82, 68, 68);
    color: white;
    border: 0;
}

.dropdown-menu-search {
    border: 0;
}

.dropdown-item {
    padding-top: 5px;
    color: rgb(82, 68, 68);
}

.dropdown-item:focus {
    background-color: rgb(82, 68, 68);
}

header,
footer {
    background-color: rgb(252, 221, 233);
}

.navbar-toggler-icon i {
    color: rgb(255, 255, 255);
    padding-top: .25rem;
}

.nav-link {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.nav-link:hover {
    color: rgb(82, 68, 68);
}

.main-header {
    font-size: 3rem;
    color: white;
}

.header-links {
    color: white;
    font-weight: bold;
}

.header-links:hover {
    color: rgb(82, 68, 68);
    text-decoration: none;
}

.main-header:hover {
    text-decoration: none;
}

.btn-search {
    background-color: rgb(82, 68, 68);
    color: white;
}

.search {
    max-width: 300px;
    margin: 0 auto;
}


/* Home */

.favourite-product {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.hero-section {
    margin: 5rem 0;
}

.intro-img {
    position: relative;
    width: 500px;
    height: 616px;
}

.favourite-product-container {
    margin: 3rem 0;
    height: 50vh;
    background-color: rgb(252, 221, 233);
}

.instagram-section {
    height: 100vh;
    background-color: rgb(252, 221, 233);
}
.homepage-header {
    font-size: 2.5rem;
}

.homepage-header-brown {
    color:  rgb(82, 68, 68);
    font-size: 2.5rem;
}

.occasion-promotion-section {
    height: 70vh;
    margin: 150px 0;
}

.occasion-img-1 {
    height: 400px;
}

.occasion-img-2 {
    position: relative;
    right: 4rem;
    top: 10rem;
    height: 250px;
}

#company-name {
    color: rgb(82, 68, 68);
}

/* Bag */

.bag-img {
    height: 250px;
    width: 200px;
    object-fit: cover;
}

.fa-shopping-basket,
.fa-user  {
    color: rgb(82, 68, 68);
    font-size: 1.25rem;
}

.remove-item:hover,
.update-link:hover {
    cursor: pointer;
}

.bag-success-message {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Message containers */

.message-container {
    position: fixed;
    top: 50px;
    right: 15px;
    z-index: 99999999999;
}

/* Hides default arrows for number input field for Chrome, Safari, Edge, Opera taken from W3schools */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Products */

.product-name {
    color: rgb(82, 68, 68);;
}
.card {
    border: 0;
}

.card-img-top {
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card-body {
    padding: .5rem;
}