<div class="container text-center">
    <div class="row">
        <div class="col-12 col-md-4">
            <ul class="list-inline pt-lg-4 ">
                <li class="list-inline-item">
                    <p class="footer-header">Follow Us On Instagram <a href="https://www.instagram.com/bakemyday_byamber/" aria-label="Instagram" rel="noopener"
                        target="_blank"><i class="fab fa-instagram"></i></a></p>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-4">
            <h5 class="footer-header">Bake my day:</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="{% url 'about_us' %}">About Us</a>
                </li>
                <li>
                    <a href="{% url 'contact_us' %}">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-4">
            <h5 class="footer-header">Area</h5>
            <ul class="list-unstyled">
                <li>Surrey & Runneymede area</li>
                <li>Find us on google maps!</li>
            </ul>
        </div>

    </div>
</div>