<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
                Home
            </a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">
                All Products
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="cake-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cakes
            </a>
            <div class="dropdown-menu" aria-labelledby="cake-links">
                <a href="{% url 'products'%}?category=large_cakes" class="dropdown-item">Large Cakes</a>
                <a href="{% url 'products'%}?category=cupcakes" class="dropdown-item ">Cupcakes</a>
                <a href="{% url 'products'%}?category=cake_pops" class="dropdown-item ">Cakepops</a>
                <a href="{% url 'products'%}?category=large_cakes,cupcakes,cheesecake,cakepops" class="dropdown-item">All Cakes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="occasion-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Occasion
            </a>
            <div class="dropdown-menu" aria-labelledby="cake-links">
                <a href="{% url 'products'%}?occasion=birthdays" class="dropdown-item">Birthdays</a>
                <a href="{% url 'products'%}?occasion=mother_and_fathers_day" class="dropdown-item ">Mothers & Fathers Day</a>
                <a href="{% url 'products'%}?occasion=valentines_day" class="dropdown-item ">Valentines Day</a>
                <a href="{% url 'products'%}?occasion=easter" class="dropdown-item">Easter</a>
                <a href="{% url 'products'%}?occasion=afternoon_tea" class="dropdown-item">Afternoon tea</a>
                <a href="{% url 'products'%}?occasion=christmas" class="dropdown-item">Christmas</a>
                <a href="{% url 'products'%}?occasion=birthdays,mother_and_fathers_day,easter,afternoon_tea,christmas" class="dropdown-item">All Occasions</a>

            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="other-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other
            </a>
            <div class="dropdown-menu" aria-labelledby="other-links">
            <a href="{% url 'products'%}?category=smash_hearts" class="dropdown-item">Smash hearts</a>
            <a href="{% url 'products'%}?category=giant_cookies" class="dropdown-item ">Giant Cookies</a>
            <a href="{% url 'products'%}?category=cookies" class="dropdown-item ">Cookies</a>
            <a href="{% url 'products'%}?category=smash_hearts,giant_cookies,cookies" class="dropdown-item">All Other</a>
        </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="{% url 'blog' %}">
                Blog
            </a>
        </div>
        </li>
    </ul>
</div>
