{% extends "base.html"%} {% load static %} {% block title %} {{blogpost.blog_title}} |
{% endblock %} 

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <div class="mt-3">
        <h3 class="mb-0">{{ blogpost.blog_title }}</h3>
        <p class="mb-0"><i class="fas fa-user pt-1"></i> {{ blogpost.author }}</p>
        <small class="mb-0">{{ blogpost.date_created }}</small>
      </div>
    </div>
    <div class="col-12 text-center">
      <div class="image-container my-3">
        {% if blogpost.image %}
        <a href="{{ blogpost.image.url }}" target="_blank">
          <img
            class="img-fluid"
            src="{{ blogpost.image.url }}"
            alt="{{ blogpost.blog_title }}"
          />
        </a>
        {% else %}
          <img
            class="img-fluid"
            src="{{ MEDIA_URL }}noimage.jpeg"
            alt="{{ blogpost.blog_title }}"
          />
        {% endif %}
      </div>
    </div>
    <div class="col-12 text-center">
      <div class="mb-4">
        <p class="mb-0">{{ blogpost.blog_body }}</p>
        <div class="col-12 p-0">
          {% if request.user == blogpost.author %}
          <a class="btn" href="{% url 'delete_blogpost' blogpost.id %}" >Delete Blog Post</a>
          <a class="btn" href="">Edit Blog Post</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 

