{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>{% block extra_title %} {% endblock %} Bake My Day </title>

</head>

<body>

    <header>
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col">
                    <a href="{% url 'home' %}"><img id="company-logo" src="" alt="Bake My Day"></a>
                    <h1 id="company-name">Bake My Day</h1>
                </div>
            </div>
        </div>

        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <nav class="navigation-bar">
                        <ul class="list-inline list-unstyled text-center">
                            <li class="list-inline-item mr-lg-4 mr-2">
                                <a class="nav-item dropdownnav-link " href="#" id="all-products-links"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    All Products
                                </a>
                                <div class="dropdown-menu border-0" aria-labelledby="cake-links">
                                    <a href="" class="dropdown-item">By Price</a>
                                    <a href="" class="dropdown-item ">By Rating</a>
                                    <a href="" class="dropdown-item ">By Occasion</a>
                                    <a href="" class="dropdown-item">All Products</a>
                                </div>
                            </li>

                            <li class="list-inline-item mr-lg-4 mr-2">
                                <a class="nav-item dropdownnav-link " href="#" id="cake-links" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Cakes
                                </a>
                                <div class="dropdown-menu border-0" aria-labelledby="cake-links">
                                    <a href="" class="dropdown-item">Large Cakes</a>
                                    <a href="" class="dropdown-item ">Cupcakes</a>
                                    <a href="" class="dropdown-item ">Cheesecake</a>
                                    <a href="" class="dropdown-item ">Cakepops</a>
                                    <a href="" class="dropdown-item">All Cakes</a>
                                </div>
                            </li>
                            <li class="list-inline-item mr-lg-4 mr-2">
                                <a class="nav-item dropdownnav-link " href="#" id="other-links" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Other
                                </a>
                                <div class="dropdown-menu border-0" aria-labelledby="other-links">
                                    <a href="" class="dropdown-item">Smash hearts</a>
                                    <a href="" class="dropdown-item ">Afternoon tea</a>
                                    <a href="" class="dropdown-item ">Giant Cookies</a>
                                    <a href="" class="dropdown-item ">Cookies</a>
                                    <a href="" class="dropdown-item">All Other</a>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <a class="nav-item dropdownnav-link " href="#" id="contact-links" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Contact
                                </a>
                                <div class="dropdown-menu border-0" aria-labelledby="contact-links">
                                    <a href="" class="dropdown-item">Create your own cake</a>
                                    <a href="" class="dropdown-item ">Contact Us</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="fixed-bottom">
        <div class="container text-center">
            <div class="row">
                <div class="col-12 col-md-4">
                    <ul class="list-inline pt-lg-4 ">
                        <li class="list-inline-item">
                            <p class="footer-header">Follow Us On Instagram</p>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/bakemyday_byamber/" aria-label="Instagram" rel="noopener" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <h5 class="footer-header">Bake my day:</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="">About Us</a>
                        </li>
                        <li>
                            <a href="">FAQ's</a>
                        </li>
                        <li>
                            <a href="">Delivery/Collections</a>
                        </li>
                        <li>
                            <a href="">Privacy</a>
                        </li>
                        <li>
                            <a href="">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <h5 class="footer-header">Area</h5>
                    <ul class="list-unstyled">
                        <li>Surrey & Runneymede area</li>
                        <li>Find us on google maps!</li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>
</body>

</html>