{% extends "base.html"%} {% load static %} 

{% block title %} {{product.name}} | {% endblock %}

{% block page_header %}
<div class="container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} 

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
      <div class="image-container my-5">
        {% if product.image %}
        <a href="{{ product.image.url }}" target="_blank">
          <img
            class="card-img-top img-fluid"
            src="{{ product.image.url }}"
            alt="{{ product.name }}"
          />
        </a>
        {% else %}
        <a href="">
          <img
            class="card-img-top img-fluid"
            src="/media/noimage.jpeg"
            alt="{{ product.name }}"
          />
        </a>
        {% endif %}
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="product-details-container mb-5 mt-md-5">
        <h3 class="mb-0">{{ product.name }}</h3>
        <hr />
        <p class="mb-0 pt-4">{{ product.description }}</p>
        <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
        <!---Templating not displaying correct things currently--->
        <form
          class="form"
          action="{% url 'add_item' product.id %}"
          method="POST"
        >
          {% csrf_token %}
          <div class="form-row">
            <div class="col-12">
              {% if product.has_size %}
              <p class="mt-3"><strong>Size:</strong></p>
              <select
                class="form-control w-50"
                name="cake_size"
                id="id_cake_size"
              >
                <option value="6-inch" selected>6-inches</option>
                <option value="8-inch">8-inches</option>
                <option value="10-inch">10-inches</option>
              </select>
              <p class="mt-3"><strong>Number of cupcakes:</strong></p>
              <select
                class="form-control w-50"
                name="cupcake_size"
                id="id_cupcake_size"
              >
                <option value="6" selected>6 Cupcakes</option>
                <option value="12">12 Cupcakes</option>
                <option value="24">24 Cupcakes</option>
              </select>
              {% endif %}
              <div class="col-12">
                <p class="mt-3"><strong>Quantity:</strong></p>
                <div class="form-group w-50">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button
                        class="decrement-qty "
                        data-item_id="{{ product.id }}"
                        id="decrement-qty_{{ product.id }}"
                      >
                        <span class="icon">
                          <i class="fas fa-minus"></i>
                        </span>
                      </button>
                    </div>
                    <input
                      class="form-control qty_input"
                      type="number"
                      name="quantity"
                      value="1"
                      min="1"
                      max="5"
                      data-item_id="{{ product.id }}"
                      id="id_qty_{{ product.id }}"
                    />
                    <div class="input-group-append">
                      <button
                        class="increment-qty"
                        data-item_id="{{ product.id }}"
                        id="increment-qty_{{ product.id }}"
                      >
                        <span class="icon">
                          <i class="fas fa-plus"></i>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <a href="{% url 'products' %}" class="btn mt-5">
                  <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                  </span>
                  <span>Keep Shopping</span>
                </a>
                <input
                  type="submit"
                  class="btn btn-secondary mt-5"
                  value="Add to Bag"
                />
                <input
                  type="hidden"
                  name="redirect_url"
                  value="{{ request.path }}"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}